---

---
table{
    width: 100%;
}

th {
  position: sticky;
  top: 0;
}

table, th, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
   
}

td {
    height: 300px;

}

#fill {
    background-color: rgb(201, 76, 76);
    column-width: 10%;
}

#nofill {
    column-width: 10%;
}

#post {
    column-width: 40%;
    word-wrap: normal;
    text-align: center;
}