<!DOCTYPE html>
<html>
    
<head>
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <​main​​class​="​content​"​role​="​main​"​>​
    {{ content }}
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Offer
            </th>
        {% for each in site.data.days %}
            {%if each.day != 'placeholder' and each.day != 'placeholder2' %}
                <th> 
                    {{ each.day }} 
                </th>
                            {% endif %}
        {% endfor %}
        </tr>
               
       
        
        {% for each in site.data.post %}
            {% assign count = 2 %}
            <tr>
                <td id=post> {{ each.post }} </td>
                <td id=post> {{ each.des }} </td>
                {% for day in site.data.days offset:2 %}
                    {% if each.start != day.day %}
                        <td id=nofill> </td>
                        {% assign count = count | plus:1 %}
                    {% else %}
                        {% assign count = count | plus:1 %}
                        <td id=fill> </td>
                        {% break %}
                    {% endif%}
                {% endfor %}

                {% for day in site.data.days offset:count%}
                    {% if each.end != day.day %}
                        {% assign count = count | plus:1 %}
                        <td id=fill> </td>
                    {% else %}
                        {% assign count = count | plus:1 %}
                        <td id=fill> </td>
                        {% break %}
                    {% endif%}
                {% endfor %}

                {% for day in site.data.days offset:count%}
                        <td> </td>
                {% endfor %}
            </tr>
        {% endfor %}
        
    </table>
        </main>
</body>

</html>
