<!DOCTYPE html>
<html>
    
<head>
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
   <main ​class​="​content​" ​role​="​main​"​>​
     {{ content }}
   </main>

    <table role="table">
     <thead role="rowgroup">
        <tr>
            <th role="columnheader">
                Name
            </th role="columnheader">
            <th role="columnheader">
                Offer
            </th role="columnheader">
        {% for each in site.data.days %}
            {%if each.day != 'placeholder' and each.day != 'placeholder2' %}
                <th role="columnheader"> 
                    {{ each.day }} 
                </th role="columnheader">
                            {% endif %}
        {% endfor %}
        </tr>
    </thead>    

      <tbody role="rowgroup">
        {% for each in site.data.post %}
            {% assign count = 2 %}
            <tr role="row">
                <td role="cell"> {{ each.post }} </td>
                <td role="cell"> {{ each.desc }} </td>
                {% for day in site.data.days offset:2 %}
                    {% if each.start != day.day %}
                        <td role="cell"> </td>
                        {% assign count = count | plus:1 %}
                    {% else %}
                        {% assign count = count | plus:1 %}
                        <td role="cell"> </td>
                        {% break %}
                    {% endif%}
                {% endfor %}

                {% for day in site.data.days offset:count%}
                    {% if each.end != day.day %}
                        {% assign count = count | plus:1 %}
                        <td role="cell"> </td>
                    {% else %}
                        {% assign count = count | plus:1 %}
                        <td role="cell"> </td>
                        {% break %}
                    {% endif%}
                {% endfor %}

                {% for day in site.data.days offset:count%}
                        <td> </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>

</html>
